---
import Certification from '../ui/certification/Certification.astro';

interface Props {
  title?: string;
}

const { title } = Astro.props as Props;
---

<section id="certifications" class="w-full py-10 scroll-mt-16">
  <div class="mx-auto max-w-6xl px-4">
    {title && (
      <h2 class="text-3xl md:text-4xl font-semibold text-center mb-6 text-foreground">{title}</h2>
    )}
  
    <div class="mb-6">
      <Certification />
    </div>
  </div>
</section>