---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';


<Layout title="Home | Mi Portfolio">
  <h1>¡Hola! Soy [Tu Nombre]</h1>
  <p>Bienvenido a mi portfolio personal. Aquí muestro quién soy, qué hago y mis proyectos.</p>
</Layout>